body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ddd;
}

.cover {
  width: 500px;
  height: 700px;
  background: url("bg.jpg");
  border: 8px solid rgb(5, 5, 5); 
  box-sizing: border-box;
  position: relative;
  padding: 10px;
}
 
.inner-box {
  width: 100%;
  height: 100%;
  border: 3px solid rgb(5, 5, 5); 
  box-sizing: border-box;
  padding: 30px;
  position: relative;
}

.top {
  color: rgb(24, 23, 23);
  font-weight: bold;
  border-bottom: 2px solid rgb(8, 8, 8);
  display: inline-block;
  padding-bottom: 3px;
  margin-top: 10px;
}

.title {
  color: rgb(42, 148, 240);
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  line-height: 1.3;
  font-size: 26px;
}

.subtitle {
  color: rgb(10, 10, 10);
  text-align: center;
  margin-bottom: 100px;
}

.bottom {
  position: absolute;
  bottom: 40px;
  left: 30px;
  right: 30px;
}

.special {
  color: rgb(15, 15, 14);
  font-weight: bold;
  margin-bottom: 5px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgb(22, 21, 21);
  margin-bottom: 10px;
}

.bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  color: rgb(14, 13, 13);
  font-weight: bold;
}

.photo {
  width: 80px;
  height: 100px;
  border: 2px solid rgb(14, 13, 13);
  background:url("WhatsApp Image 2025-12-16 at 2.36.55 PM.jpeg") no-repeat center/cover;
  position: absolute;
  right:0px;
  bottom: 70px;
}

.sec {
  color: rgb(4, 4, 4);
  font-weight: bold;
  bottom: 200px;
  right: 0px;
}